.tweet-feed {
  background-color: white;
  margin: 25px auto;
  width: 95%;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.tweet-feed:hover {
  border: 1px solid darkgrey;
  color: slategrey;
}

.twitter-name {
  float: left;
  border-width: 1px;
  margin: 6px auto;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
  font-size: 24px;
  color: lightgrey;
}

article:hover h2 {
  color: slategrey;
}

.tweet-feed header {
  background-color: lightcyan;
  height: 80px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: slategrey;
}

.profile-pic {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0.7;
}

article:hover .profile-pic {
  opacity: 1;
}

#tweet-container p.tweet-body {
  padding: 10px 0;
  font-size: 18px;
  margin: 0px 10px;
  color: slategrey;
}

.tweet-feed .handle {
  float: right;
  font-weight: 300;
  padding-right: 10px;
  font-size: 16px;
  margin-top: 20px;
  color: slategrey;
}

.tweet-feed footer {
  border-top: 1px solid lightgrey;
}

.tweet-footer {
  height: 50px;
}

#tweet-container footer {
  padding: 10px;
}

footer .date {
  font-size: 14px;
  margin-top: 5px;
  color: slategrey;
  display: inline-block;
}

img.icon {
  margin-top: 5px;
  float: right;
  height: 20px;
  width: 20px;
  margin-left: 8px;
  display: none;
}

img.icon .heart {
  margin-left: 10px;
}

article:hover img.icon {
  display: inline-block;
}